.header {
  padding: 0 60px;
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #512da8;
  box-shadow: 0 0 5px #673ab7;
}

.header__title {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.9);
  font-size: 30px;
  font-weight: bold;
  font-family: Merienda, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.4s color ease;
}

.header__title:hover {
  color: #fff;
}

@media screen and (max-width: 720px) {
  .header {
    justify-content: center;
  }
}
