@import url("https://fonts.googleapis.com/css2?family=Merienda&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
@import "~normalize.css";

* {
  box-sizing: border-box;
}

body {
  min-width: 460px;
}

.header,
.footer {
  padding: 0 60px;
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #512da8;
  box-shadow: 0 0 5px #673ab7;
}

.header__title {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.9);
  font-size: 30px;
  font-weight: bold;
  font-family: Merienda, Helvetica, sans-serif;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.4s color ease;
}

.header__title:hover {
  color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 180px);
  color: #212121;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.search-ui {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  align-items: center;
  max-width: 860px;
}

.search-ui__title {
  margin: 0;
  display: flex;
  font-size: 26px;
}

.search-ui__text {
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 0 40px;
  display: flex;
  max-width: 720px;
  text-align: center;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 24px;
}

.searchbar {
  padding: 0 30px;
  position: relative;
  margin-top: 25px;
  display: flex;
  width: 860px;
  height: 60px;
  min-width: 460px;
}

.searchbar input {
  padding: 0 95px 0 30px;
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 320px;
  color: #212121;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  outline: none;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
  transition: border 0.4s ease;
}

.searchbar input:focus {
  border: 2px solid #7c4dff9e;
  box-shadow: 0 0 3px #7c4dff9e;
}

.searchbar button {
  position: absolute;
  right: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 56px;
  height: 56px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.searchbar button:hover {
  cursor: pointer;
}

.searchbar__search-icon {
  display: flex;
  width: 26px;
  height: 26px;
  opacity: 0.5;
  transition: opacity 0.4s ease;
}

.searchbar__search-icon:hover {
  display: flex;
  opacity: 0.8;
}

.content {
  margin: 40px 0 80px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

.card {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
  width: 860px;
  height: 130px;
  background-color: #bdbdbd;
  border: 2px solid #bdbdbd;
  border-radius: 15px;
  transition: 0.4s all ease;
}

.card:first-of-type {
  margin-top: 0;
}

.card:hover {
  transform: scale(1.02);
  background-color: #7c4dff9e;
  border: 2px solid #7c4dff9e;
}

.card span {
  padding: 10px;
  padding-left: 20px;
  display: grid;
  align-items: center;
  align-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.card__name {
  grid-row: 1/2;
  grid-column: 1/2;
  border-top-left-radius: 15px;
}

.card__gender {
  grid-row: 1/2;
  grid-column: 2/3;
}

.card__age {
  grid-row: 1/2;
  grid-column: 3/4;
  border-top-right-radius: 15px;
}

.card__ticket {
  grid-row: 2/3;
  grid-column: 1/2;
  border-bottom-left-radius: 15px;
}

.card__cabin {
  grid-row: 2/3;
  grid-column: 2/3;
}

.card__status {
  grid-row: 2/3;
  grid-column: 3/4;
  border-bottom-right-radius: 15px;
}

.footer {
  padding: 0 60px;
}

@media screen and (max-width: 860px) {
  .searchbar,
  .card {
    width: 95vw;
  }
}

@media screen and (max-width: 720px) {
  .header {
    justify-content: center;
  }

  .card {
    height: 160px;
  }
}
